@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Fauna+One&family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Crete+Round&family=Fauna+One&family=Hepta+Slab&display=swap');

:root {
    --green: #70b579;
    --yellow: #e3cd62;
    --lightgray: #DCDCDC;
    --darkgray: #808b96;
    --flip-color: #ffffff;
}

/**** Help Modal Styling ****/

#help.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

#stats.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

.instructions {
    background-color: white;
    box-shadow: 0px 0px 25px var(--darkgray);
    padding: 20px;
    width: 30%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.statistics {
    background-color: white;
    box-shadow: 0px 0px 25px var(--darkgray);
    padding: 20px;
    width: 30%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.instructions h1, .statistics h1 {
    font-family: "Crete Round", serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.instructions h2 {
    font-family: 'Hepta Slab', serif;
    font-size: 1rem;
}

.instructions ul {
    padding-right: 1.25rem;
    font-size: .75rem;
}

.instructions p, li {
    font-family: Arial, Helvetica, sans-serif;
}

#W-example, #I-example, #U-example {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    width: 179px;
}

#W-example span, #I-example span, #U-example span {
    width: 35px;
    height: 35px;
    border: 2px solid #808b96;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px; /* Try 24px first */
    text-align: center;
}

.instructions span.green-highlight {
    background-color: var(--green);
    color: white;
    border: none;
}

span.yellow-highlight {
    background-color: var(--yellow);
    color: white;
    border: transparent;
}

span.gray-highlight {
    background-color: var(--darkgray);
    color: white;
}

.instructions img {
    width: 45px;
    height: 45px;
    padding-right: 1rem;
}

#instruction-footer {
    display: flex;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-top: 1px solid var(--lightgray);
    border-bottom: 1px solid var(--lightgray);
}

.close-button, .close-button2 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 500px) {

    .instructions {
        width: 90%;
        top: 8%;
    }
}

@media (max-width: 1300px) {
    .instructions {
        width: 60%;
        top: 8%;
    }
}